@import 'tailwindcss';
@import '../styles/reset.css';
@import '../styles/utils.css';
@import '../styles/typography.css';

@theme {
  /* Screens */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-s: 650px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1636px;

  /* Colors */
  --color-transparent: transparent;
  --color-black: #1c0101;
  --color-white: #ffffff;

  --font-ibm: var(--font-ibm), system-ui, -apple-system, sans-serif;

  /* Font utilities */
  --font-ibm: var(--font-ibm), system-ui, -apple-system, sans-serif;

  /* Font Sizes */
  --text-0: 0rem;
  --text-1: 1rem;
  --text-2: 2rem;
  --text-3: 3rem;
  --text-4: 4rem;
  --text-5: 5rem;
  --text-6: 6rem;
  --text-7: 7rem;
  --text-8: 8rem;
  --text-9: 9rem;
  --text-10: 10rem;
  --text-11: 11rem;
  --text-12: 12rem;
  --text-13: 13rem;
  --text-14: 14rem;
  --text-15: 15rem;
  --text-16: 16rem;
  --text-17: 17rem;
  --text-18: 18rem;
  --text-19: 19rem;
  --text-20: 20rem;
  --text-21: 21rem;
  --text-22: 22rem;
  --text-23: 23rem;
  --text-24: 24rem;
  --text-25: 25rem;
  --text-26: 26rem;
  --text-27: 27rem;
  --text-28: 28rem;
  --text-29: 29rem;
  --text-30: 30rem;
  --text-31: 31rem;
  --text-32: 32rem;
  --text-33: 33rem;
  --text-34: 34rem;
  --text-35: 35rem;
  --text-36: 36rem;
  --text-37: 37rem;
  --text-38: 38rem;
  --text-39: 39rem;
  --text-40: 40rem;
  --text-41: 41rem;
  --text-42: 42rem;
  --text-43: 43rem;
  --text-44: 44rem;
  --text-45: 45rem;
  --text-46: 46rem;
  --text-47: 47rem;
  --text-48: 48rem;
  --text-49: 49rem;
  --text-50: 50rem;
  --text-51: 51rem;
  --text-52: 52rem;
  --text-53: 53rem;
  --text-54: 54rem;
  --text-55: 55rem;
  --text-56: 56rem;
  --text-57: 57rem;
  --text-58: 58rem;
  --text-59: 59rem;
  --text-60: 60rem;
  --text-61: 61rem;
  --text-62: 62rem;
  --text-63: 63rem;
  --text-64: 64rem;
  --text-65: 65rem;
  --text-66: 66rem;
  --text-67: 67rem;
  --text-68: 68rem;
  --text-69: 69rem;
  --text-70: 70rem;
  --text-71: 71rem;
  --text-72: 72rem;
  --text-73: 73rem;
  --text-74: 74rem;
  --text-75: 75rem;
  --text-76: 76rem;
  --text-77: 77rem;
  --text-78: 78rem;
  --text-79: 79rem;
  --text-80: 80rem;
  --text-81: 81rem;
  --text-82: 82rem;
  --text-83: 83rem;
  --text-84: 84rem;
  --text-85: 85rem;
  --text-86: 86rem;
  --text-87: 87rem;
  --text-88: 88rem;
  --text-89: 89rem;
  --text-90: 90rem;
  --text-91: 91rem;
  --text-92: 92rem;
  --text-93: 93rem;
  --text-94: 94rem;
  --text-95: 95rem;
  --text-96: 96rem;
  --text-97: 97rem;
  --text-98: 98rem;
  --text-99: 99rem;
  --text-100: 100rem;
  --text-101: 101rem;
  --text-102: 102rem;
  --text-103: 103rem;
  --text-104: 104rem;
  --text-105: 105rem;
  --text-106: 106rem;
  --text-107: 107rem;
  --text-108: 108rem;
  --text-109: 109rem;
  --text-110: 110rem;
  --text-111: 111rem;
  --text-112: 112rem;
  --text-113: 113rem;
  --text-114: 114rem;
  --text-115: 115rem;
  --text-116: 116rem;
  --text-117: 117rem;
  --text-118: 118rem;
  --text-119: 119rem;
  --text-120: 120rem;
  --text-121: 121rem;
  --text-122: 122rem;
  --text-123: 123rem;
  --text-124: 124rem;
  --text-125: 125rem;
  --text-126: 126rem;
  --text-127: 127rem;
  --text-128: 128rem;
  --text-129: 129rem;
  --text-130: 130rem;
  --text-131: 131rem;
  --text-132: 132rem;
  --text-133: 133rem;
  --text-134: 134rem;
  --text-135: 135rem;
  --text-136: 136rem;
  --text-137: 137rem;
  --text-138: 138rem;
  --text-139: 139rem;
  --text-140: 140rem;
  --text-141: 141rem;
  --text-142: 142rem;
  --text-143: 143rem;
  --text-144: 144rem;
  --text-145: 145rem;
  --text-146: 146rem;
  --text-147: 147rem;
  --text-148: 148rem;
  --text-149: 149rem;
  --text-150: 150rem;
  --text-151: 151rem;
  --text-152: 152rem;
  --text-153: 153rem;
  --text-154: 154rem;
  --text-155: 155rem;
  --text-156: 156rem;
  --text-157: 157rem;
  --text-158: 158rem;
  --text-159: 159rem;
  --text-160: 160rem;
  --text-161: 161rem;
  --text-162: 162rem;
  --text-163: 163rem;
  --text-164: 164rem;
  --text-165: 165rem;
  --text-166: 166rem;
  --text-167: 167rem;
  --text-168: 168rem;
  --text-169: 169rem;
  --text-170: 170rem;
  --text-171: 171rem;
  --text-172: 172rem;
  --text-173: 173rem;
  --text-174: 174rem;
  --text-175: 175rem;
  --text-176: 176rem;
  --text-177: 177rem;
  --text-178: 178rem;
  --text-179: 179rem;
  --text-180: 180rem;
  --text-181: 181rem;
  --text-182: 182rem;
  --text-183: 183rem;
  --text-184: 184rem;
  --text-185: 185rem;
  --text-186: 186rem;
  --text-187: 187rem;
  --text-188: 188rem;
  --text-189: 189rem;
  --text-190: 190rem;
  --text-191: 191rem;
  --text-192: 192rem;
  --text-193: 193rem;
  --text-194: 194rem;
  --text-195: 195rem;
  --text-196: 196rem;
  --text-197: 197rem;
  --text-198: 198rem;
  --text-199: 199rem;
  --text-200: 200rem;
  --text-201: 201rem;
  --text-202: 202rem;
  --text-203: 203rem;
  --text-204: 204rem;
  --text-205: 205rem;
  --text-206: 206rem;
  --text-207: 207rem;
  --text-208: 208rem;
  --text-209: 209rem;
  --text-210: 210rem;
  --text-211: 211rem;
  --text-212: 212rem;
  --text-213: 213rem;
  --text-214: 214rem;
  --text-215: 215rem;
  --text-216: 216rem;
  --text-217: 217rem;
  --text-218: 218rem;
  --text-219: 219rem;
  --text-220: 220rem;
  --text-221: 221rem;
  --text-222: 222rem;
  --text-223: 223rem;
  --text-224: 224rem;
  --text-225: 225rem;
  --text-226: 226rem;
  --text-227: 227rem;
  --text-228: 228rem;
  --text-229: 229rem;
  --text-230: 230rem;
  --text-231: 231rem;
  --text-232: 232rem;
  --text-233: 233rem;
  --text-234: 234rem;
  --text-235: 235rem;
  --text-236: 236rem;
  --text-237: 237rem;
  --text-238: 238rem;
  --text-239: 239rem;
  --text-240: 240rem;
  --text-241: 241rem;
  --text-242: 242rem;
  --text-243: 243rem;
  --text-244: 244rem;
  --text-245: 245rem;
  --text-246: 246rem;
  --text-247: 247rem;
  --text-248: 248rem;
  --text-249: 249rem;
  --text-250: 250rem;

  /* Spacing */
  --spacing-0: 0rem;
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 3rem;
  --spacing-4: 4rem;
  --spacing-5: 5rem;
  --spacing-6: 6rem;
  --spacing-7: 7rem;
  --spacing-8: 8rem;
  --spacing-9: 9rem;
  --spacing-10: 10rem;
  --spacing-11: 11rem;
  --spacing-12: 12rem;
  --spacing-13: 13rem;
  --spacing-14: 14rem;
  --spacing-15: 15rem;
  --spacing-16: 16rem;
  --spacing-17: 17rem;
  --spacing-18: 18rem;
  --spacing-19: 19rem;
  --spacing-20: 20rem;
  --spacing-21: 21rem;
  --spacing-22: 22rem;
  --spacing-23: 23rem;
  --spacing-24: 24rem;
  --spacing-25: 25rem;
  --spacing-26: 26rem;
  --spacing-27: 27rem;
  --spacing-28: 28rem;
  --spacing-29: 29rem;
  --spacing-30: 30rem;
  --spacing-31: 31rem;
  --spacing-32: 32rem;
  --spacing-33: 33rem;
  --spacing-34: 34rem;
  --spacing-35: 35rem;
  --spacing-36: 36rem;
  --spacing-37: 37rem;
  --spacing-38: 38rem;
  --spacing-39: 39rem;
  --spacing-40: 40rem;
  --spacing-41: 41rem;
  --spacing-42: 42rem;
  --spacing-43: 43rem;
  --spacing-44: 44rem;
  --spacing-45: 45rem;
  --spacing-46: 46rem;
  --spacing-47: 47rem;
  --spacing-48: 48rem;
  --spacing-49: 49rem;
  --spacing-50: 50rem;
  --spacing-51: 51rem;
  --spacing-52: 52rem;
  --spacing-53: 53rem;
  --spacing-54: 54rem;
  --spacing-55: 55rem;
  --spacing-56: 56rem;
  --spacing-57: 57rem;
  --spacing-58: 58rem;
  --spacing-59: 59rem;
  --spacing-60: 60rem;
  --spacing-61: 61rem;
  --spacing-62: 62rem;
  --spacing-63: 63rem;
  --spacing-64: 64rem;
  --spacing-65: 65rem;
  --spacing-66: 66rem;
  --spacing-67: 67rem;
  --spacing-68: 68rem;
  --spacing-69: 69rem;
  --spacing-70: 70rem;
  --spacing-71: 71rem;
  --spacing-72: 72rem;
  --spacing-73: 73rem;
  --spacing-74: 74rem;
  --spacing-75: 75rem;
  --spacing-76: 76rem;
  --spacing-77: 77rem;
  --spacing-78: 78rem;
  --spacing-79: 79rem;
  --spacing-80: 80rem;
  --spacing-81: 81rem;
  --spacing-82: 82rem;
  --spacing-83: 83rem;
  --spacing-84: 84rem;
  --spacing-85: 85rem;
  --spacing-86: 86rem;
  --spacing-87: 87rem;
  --spacing-88: 88rem;
  --spacing-89: 89rem;
  --spacing-90: 90rem;
  --spacing-91: 91rem;
  --spacing-92: 92rem;
  --spacing-93: 93rem;
  --spacing-94: 94rem;
  --spacing-95: 95rem;
  --spacing-96: 96rem;
  --spacing-97: 97rem;
  --spacing-98: 98rem;
  --spacing-99: 99rem;
  --spacing-100: 100rem;
  --spacing-100: 100rem;
  --spacing-150: 150rem;
  --spacing-200: 200rem;
  --spacing-250: 250rem;
  --spacing-300: 300rem;
  --spacing-350: 350rem;
  --spacing-400: 400rem;
  --spacing-450: 450rem;
  --spacing-500: 500rem;
  --spacing-550: 550rem;
  --spacing-600: 600rem;
  --spacing-650: 650rem;
  --spacing-700: 700rem;
  --spacing-750: 750rem;
  --spacing-800: 800rem;
  --spacing-850: 850rem;
  --spacing-900: 900rem;
  --spacing-950: 950rem;
  --spacing-1000: 1000rem;
  --spacing-1050: 1050rem;

  /* zIndex */
  --z-0: 0;
  --z-1: 1;
  --z-2: 2;
  --z-3: 3;
  --z-4: 4;
  --z-5: 5;
  --z-6: 6;
  --z-7: 7;
  --z-8: 8;
  --z-9: 9;

  /* Grid Column Span */
  --col-span-0: span 0 / span 0;
  --col-span-1: span 1 / span 1;
  --col-span-2: span 2 / span 2;
  --col-span-3: span 3 / span 3;
  --col-span-4: span 4 / span 4;
  --col-span-5: span 5 / span 5;
  --col-span-6: span 6 / span 6;
  --col-span-7: span 7 / span 7;
  --col-span-8: span 8 / span 8;
  --col-span-9: span 9 / span 9;
  --col-span-10: span 10 / span 10;
  --col-span-11: span 11 / span 11;
  --col-span-12: span 12 / span 12;
  --col-span-13: span 13 / span 13;
  --col-span-14: span 14 / span 14;
  --col-span-15: span 15 / span 15;
  --col-span-16: span 16 / span 16;
  --col-span-17: span 17 / span 17;
  --col-span-18: span 18 / span 18;
  --col-span-19: span 19 / span 19;
  --col-span-20: span 20 / span 20;
  --col-span-21: span 21 / span 21;
  --col-span-22: span 22 / span 22;
  --col-span-23: span 23 / span 23;
  --col-span-24: span 24 / span 24;
  --col-span-25: span 25 / span 25;
  --col-span-26: span 26 / span 26;
  --col-span-27: span 27 / span 27;
  --col-span-28: span 28 / span 28;
  --col-span-29: span 29 / span 29;
  --col-span-30: span 30 / span 30;
  --col-span-31: span 31 / span 31;
  --col-span-32: span 32 / span 32;
  --col-span-33: span 33 / span 33;
  --col-span-34: span 34 / span 34;

  /* Grid Column Start and End */
  --col-start-0: 0;
  --col-end-0: 0;
  --col-start-1: 1;
  --col-end-1: 1;
  --col-start-2: 2;
  --col-end-2: 2;
  --col-start-3: 3;
  --col-end-3: 3;
  --col-start-4: 4;
  --col-end-4: 4;
  --col-start-5: 5;
  --col-end-5: 5;
  --col-start-6: 6;
  --col-end-6: 6;
  --col-start-7: 7;
  --col-end-7: 7;
  --col-start-8: 8;
  --col-end-8: 8;
  --col-start-9: 9;
  --col-end-9: 9;
  --col-start-10: 10;
  --col-end-10: 10;
  --col-start-11: 11;
  --col-end-11: 11;
  --col-start-12: 12;
  --col-end-12: 12;
  --col-start-13: 13;
  --col-end-13: 13;
  --col-start-14: 14;
  --col-end-14: 14;
  --col-start-15: 15;
  --col-end-15: 15;
  --col-start-16: 16;
  --col-end-16: 16;
  --col-start-17: 17;
  --col-end-17: 17;
  --col-start-18: 18;
  --col-end-18: 18;
  --col-start-19: 19;
  --col-end-19: 19;
  --col-start-20: 20;
  --col-end-20: 20;
  --col-start-21: 21;
  --col-end-21: 21;
  --col-start-22: 22;
  --col-end-22: 22;
  --col-start-23: 23;
  --col-end-23: 23;
  --col-start-24: 24;
  --col-end-24: 24;
  --col-start-25: 25;
  --col-end-25: 25;
  --col-start-26: 26;
  --col-end-26: 26;
  --col-start-27: 27;
  --col-end-27: 27;
  --col-start-28: 28;
  --col-end-28: 28;
  --col-start-29: 29;
  --col-end-29: 29;
  --col-start-30: 30;
  --col-end-30: 30;
  --col-start-31: 31;
  --col-end-31: 31;
  --col-start-32: 32;
  --col-end-32: 32;
  --col-start-33: 33;
  --col-end-33: 33;
  --col-start-34: 34;
  --col-end-34: 34;

  /* Transition Durations */
  --duration-0: 0ms;
  --duration-30: 300ms;
  --duration-40: 400ms;
  --duration-50: 500ms;
  --duration-70: 700ms;
  --duration-2000: 2000ms;

  /* Transition Timing Functions */
  --ease-default: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
